/*input.ui-slider-input, .ui-field-contain input.ui-slider-input {
    display: inline-block;
    float: right;
    width: 50px;
    right:10px;
    position: relative;
}*/
.ui-mobile .ui-page .ui-slider-input,
.ui-mobile .ui-dialog .ui-slider-input {
    display: none;
}
.viewer{
    font-size: 1em;
}
.ui-slider-track {
    margin:0 30px;
    /*margin: 0 75px 0 10px;*/
}

.toc li {
    cursor: pointer;
}

.viewer-panel {
    overflow: hidden;
    margin: 10px;
}

.viewer-panel img {
    width: 100%;
    height: 100%;
}

.viwer-wrapper {
    position: relative;
}

.btn-pos {
    display: none;
    position: absolute;
    width: 50px;
    text-align: center;
    font-size:2em;
    vertical-align: middle;
}

.btn-pos.pre-button {
    top: -10px;
    left: 0;
    background: -moz-linear-gradient(right, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(23, 23, 23, 0)), color-stop(100%, rgba(23, 23, 23, .5)));
    background: -webkit-linear-gradient(right, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: -o-linear-gradient(right, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: -ms-linear-gradient(right, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: linear-gradient(to left, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
}

.btn-pos.next-button {
    top: -10px;
    right: 0;

    background: -moz-linear-gradient(left, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(23, 23, 23, 0)), color-stop(100%, rgba(23, 23, 23, .5)));
    background: -webkit-linear-gradient(left, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: -o-linear-gradient(left, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: -ms-linear-gradient(left, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
    background: linear-gradient(to right, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .5) 100%);
}

.v-table {
    display: table;
    width: 100%;
    height: 100%;
}

.v-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.search-val{
    color:red;
    background: #ffff00;
}
.search-results{
    overflow-y: auto;
    margin-top: 1em;
    margin-left: -1em;
    margin-right: -1em;
}
.search-results li a{
    font-weight: 300;
}
.search-results-highlight {
    color: #3388cc;
    font-weight: 600;
}

.viewer-overlay{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 0;
    background: #f9f9f9;
}
.arrow{
    margin:0 5px;
    font-size: 64px;
    color: #E2E2E2;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}