#parse("module/top.vm")
<div data-role="page">

    <div class="container">
        <div class="title" style="margin-bottom: 50px;">
            <h1 class="text-center"><strong>$app-name</strong></h1>
            <h4 class="text-center">$app-version</h4>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                <div class="list-group">
                    #foreach ($epub in $epub_urls)
                        <a class="list-group-item" href="/viewer?epub-url=$epub.getUrl()">$epub.getTitle()
                            - $epub.getDescription()</a>
                    #end
                </div>
            </div>
        </div>

        <form action="/viewer" method="GET" class="form-horizontal">
            <div class="form-group">
                <label for="epub-url" class="col-xs-4 col-sm-2 control-label">Epub URL</label>

                <div class="col-xs-8 col-sm-10 ">
                    <input class="form-control" type="input" name="epub-url" id="epub-url" value="${default_url}"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" value="보기" class="btn btn-info pull-right">
                    <input type="button" value="초기화" class="btn btn-warning pull-right" style="margin-right: 15px"
                           onclick="$('#epub-url').val('')">

                </div>
            </div>
        </form>
    </div>
</div><!-- page -->
#parse("module/bottom.vm")
