#include("module/top.vm")
<div data-role="page">

    <div data-role="panel" data-display="overlay" data-position="left" id="table-of-context-panel">
        <div class="ui-panel-inner">
            Left Menu
        </div>
    </div>
    <div data-role="panel" data-display="overlay" data-position="right" id="search-panel" data-theme="a">
        <div class="ui-panel-inner">
            <input type="search" name="search" id="search" value="" placeholder="검색">
        </div>
    </div>
    <!-- /panel -->
    <!-- header -->
    <div data-role="header">
        <a href="#table-of-context-panel" class="ui-btn ui-icon-bullets ui-btn-icon-notext ui-corner-all">No text</a>

        <h1>Page Title</h1>
        <a href="#search-panel" class="ui-btn ui-icon-search ui-btn-icon-notext ui-corner-all">No text</a>
    </div>

    <!-- content -->
    <!-- footer -->

</div><!-- page -->
#include("module/bottom.vm")
