
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/res/js/jquery-1.11.2.min.js"></script>
<script src="/res/js/jquery.mobile-1.4.5.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/res/js/bootstrap.min.js"></script>

<script src="/res/js/viewer.js"></script>

</body>
</html>